body{
	font-family: 'PT Sans',arial;
	margin: 0;
	padding: 0;
background: #fff;
}
.dropdown {
   position: relative;
    display: inline;
    margin-right: 10px;
    position: right;
    display:right;
    direction:rtl;
  }
  .dropdown-contents {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0; /* Aligning dropdown contents to the left */
  }
  .dropdown:hover .dropdown-contents {
    display: block;
  }
  .dropdown-contents a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-contents a:hover {
    background-color: #f1f1f1;
  }

input[type="submit"] {
	background: rgb(0, 232, 248);
	cursor: pointer;
	color: ;
	font-weight: 600;

}
th {
   color: #00C6D7!important;
   font-weight: 400;
}
header{
	background-color: lightseagreen;
	padding: 20px;
	color: white;
border-bottom: 2px solid orangered;
border-bottom-width:12;
 }
}
nav{
	display: flex;
	justify-content: space-between;
}
nav ul{
	list-style: noone;
	margin:0;
	padding: 0;
}
nav li{
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;

}
nav a{
	text-decoration: none;
	color: white;
}
 nav a:hover{
 	color:#333;
 }
 section{
 	padding: 1px;
 	background-color:turquoise;
 	color: white;

 }
 footer{
 	text-align: center;
 	padding: 20px;
 	background-color:lightseagreen ;
 	color: whitesmoke;
 	margin-top: 2em;
  margin-block-end: 1px;


 }
 .s{
 	background-color: whitesmoke;
 	color: orangered;

 }
 .f{
 	width: 40%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;

 }
 main {
            color: grey;
            display: flex;
            flex-wrap: wrap;
        }

        main section {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: flex-start;
        }
        #content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}
#content nav .switch-mode::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}